[{eredis_cluster,
     [
         {init_nodes,[
             {"redis",30001},
             {"redis",30002}
         ]},
         {pool_size, 5},
         {pool_max_overflow, 0}
     ]
 },
 {flightFilterApp,
    [
        {http,[{0,0,0,0},8080]},
        {augmentor,[{config,"/flightFilterApp/augmentor_config.json"}]}
    ]
  }
].